table{
    border: 2px solid black;
    border-collapse: collapse;
    border-radius: 15px;
    
}
th,td{
    border: 2px solid black; 
}
th{
    background-color: #028391;
    color: white;
}
.cardforstatus{
    background-color: #fff;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), /* Small shadow */
                0 8px 16px rgba(0, 0, 0, 0.1); /* Larger shadow */
   
}